body{
    background-color:#1f0834;
    zoom: 100%;
}
/*estilos parrafo superior*/
p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ebdfdf;
  }
 /*estulos caja contenedora*/ 
  #caja {
    width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ebdfdf;
    border-radius: 10px;
  }
  /*estulos entrada de numeros*/
  form {
    display: flex;
    flex-direction: column;
  }
 
  #input,
  #input2{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 460px;
    height: 50px;
    font-size: 20px;
  }
  /*estulos botones*/
 #btn_menu{
    width: 150px;
    height: 50px;
    margin-left: 0%;
    background-color: #1f0834;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
 }
 #botones {
  display: flex;
  
}
 #botones button {
  width: 150px;
    height: 50px;
    background-color: #1f0834;
    color: #ffffff;
    margin-right: 60px;
    margin-left: 9%;
    margin-top: 8px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
  }
  #botones button:hover{
    background-color: aqua;
    color:rgb(31, 8, 52); ;
    font-weight: bold;
  }
  
  #btn_menu:hover{
    background-color: #f1f1f1;
    color: rgb(31, 8, 52);
    font-weight: bold;
    font-size: 20px;
  }
  /*estilos selector*/
  select{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    width: 460px;
    height: 150px;
    font-size: 20px;
  }
  /*estilos de resultado generado por PHP*/
  #resultado{
    text-align: center;
    color: #ffffff;
    margin: 20px auto;
  }